.logoAmazing {
    height: 5vh;
}

.text-bg {
    background-color: #d90468;
    color: white;
}

h1 {
    color: #37f637;
    height: 24rem;
    font-size: 3.5rem !important;
}

.carousel-item {
    height: 50vh;
}

.carousel-item img {
    height: 100%;
}


.card-img {
    height: 12rem;
    width: 12rem;
}

#allCards>div,
#upcomingCards>div,
#pastCards>div {
    background-color: #136b42c9;
}


#details>div {
    background-color: #136b42c9;
    flex-direction: row;
}

.card-details {
    height: 100% !important;
    width: 50% !important;
}